h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid darkslategrey;
}

pre {
    margin: 10px;
    padding: 5px;
    background-color: rgb(247, 247, 247);
}

.specParent {

}

.jsonSpecs {
    width:50%;
    float:right;
}

.jsonOutput {
    float:left;
    width:50%;
}