{% extends "layout.html.twig" %}

{% block content %}
<div>
    This is a sample implementation of a Tax Service integration with BigCommerce.
</div>
<div>
    Please go to the DOCS for more info on how to extend this application.
</div>
<br/>
<div>
    POST to /sample-tax-service/estimate in the supported format to return some sample tax estimates.
</div>
<br/>
{% endblock %}
