{% extends "layout.html.twig" %}

{% block content %}
<div>
    Welcome to Sample Tax, an example of a Tax Integration with BigCommerce OpenTaxAPI.
</div>
<br/>
<div>
    <p>POST to /sample-tax-service/estimate in the supported format to return some sample tax estimates.</p>
    <h5>Examples:</h5>
    <ul>
        <li><a href="/samplerequest">Sample Estimate request</a> -- This is an example of what BigCommerce will send</li>
        <li><a href="/sampleresponse">Sample Estimate response</a> -- This is an example of what BigCommerce expects to receive back</li>
    </ul>
</div>
<br/>
{% endblock %}
