<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Sample Tax Service implementation</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <h1>Sample Tax Provider</h1>
        {% block content %}{% endblock %}
    </body>
</html>
