{% extends "layout.html.twig" %}

{% block content %}
    <p>Who is coolest</p>
    <div id="addOption"></div>
    <div id="radioOptions"></div>

        <div id="myContainer"></div>

{% endblock %}

{% block javascript %}
<script src="{{ asset('js/main.js') }}"></script>


{% endblock %}